<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tempurature_Compare">
    <test name="In_Degress">
        <classes>
            <class name="WeatherTest.WeatherInfoAPITest"/>
            <class name="WeatherTest.WeatherInfoTest"/>
        </classes>
    </test>
</suite>